# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart-windows

on:
  push:
    branches: [ "*" ]

permissions:
  contents: read
  security-events: write

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      # Note: This workflow uses the latest stable version of the Dart SDK.
      # You can specify other versions if desired, see documentation here:
      # https://github.com/dart-lang/setup-dart/blob/main/README.md
      # - uses: dart-lang/setup-dart@v1
      - uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603

      - name: Install dependencies
        run: dart pub get

      - name: Check example structure
        run: |
          $ErrorActionPreference = 'Stop'
          $forbidden_text = "package:example"
          $found = Get-ChildItem -Path "example/lib" -Filter "*.dart" -Recurse | Select-String -Pattern $forbidden_text
          if ($found) {
              Write-Host "Error: Forbidden text found in Dart files"
              exit 1
          } else {
              Write-Host "No forbidden text found"
          }
        shell: pwsh

      - name: Run OSV-Scanner
        run: |
          $ErrorActionPreference = 'Stop'
          Invoke-WebRequest -Uri "https://github.com/google/osv-scanner/releases/download/v2.2.1/osv-scanner_windows_amd64.exe" -OutFile "osv-scanner.exe"
          .\osv-scanner.exe --lockfile=pubspec.lock
        shell: pwsh

      # Consider passing '--fatal-infos' for slightly stricter analysis.
      - name: Analyze project source
        run: dart analyze

      # Your project will need to have tests in test/ and a dependency on
      # package:test for this step to succeed. Note that Flutter projects will
      # want to change this to 'flutter test'.
      - name: Run tests
        run: dart test
